@import 'base/normalize';
@import 'base/typo';

@import 'utilities/variables';
@import 'utilities/mixins';
@import 'utilities/functions';

@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';

@import 'views/inicio';
@import 'views/productos';
@import 'views/contacto';
@import 'views/quienes-somos';
@import 'views/novedades';



.container-fluid {
    padding: 0em;
}



