/*********
**FOOTER**
**********/

#contenedor-footer {
    padding: 0em 1em;
}

.footer {
    background-image: linear-gradient(to top, rgba(245, 245, 245, 0.815), white);
}

hr {
    color: $color2;
}

.footer__columnas {
    display: flex;
    
}

.footer__columnas h2 {
    font-size: 1.6em;
    text-align: left;
    padding: 0 0px 0 2px;
    line-height: 1.6em;
    color: $color4;
}

//Logo
.logo-footer {
    width: 8em;
}

// Iconos

.footer__Redes ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0em;
}
.footer__Redes ul i {
    margin-inline: 14px;
}
.footer__Redes ul a:hover {
    background-color: $color4;
    border-radius: 4em;
}