/************
**PRODUCTOS**
*************/

/*section 1*/

#helados {
    background-image: url(../../imagenes/fondos/background-plano1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 5em;
}
.título-h1 {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 20px;
    padding-left: 10px;
    color:#3d0810; 
}
.Tabla-helados ul{
    color: black; 
    text-align: center;
    list-style: none;
    text-decoration: none;
    list-style: none;
}

.sabores {
    font-weight: bold;
    font-size: 21px;
}
