/****************
**QUIENES-SOMOS**
*****************/

// Section 1

.section1 {
    display: flex;
    align-items: center;
    position: absolute;
}
.section1__background2 {
position: relative;
}

.section1__typo {
    position: relative;
    h2 {
        @include typo-inicio (2em, bold, left, $color3, 2.4em 0 0 5em, 0em);
    }
    h3 {
        @include typo-inicio (3em, bold, left, $color0, 40px 0em 0 3.2em, 1.4em);
    }
    p {
        @include typo-inicio (1.2em, lighter, left, $color3, 2em 0 0 8.3em, 1.4em);
    }
}